#header-hero {
  background: url("../../assets/img/18f107b5b972e106c423e37324c41f70.jpg") bottom / cover no-repeat;
  width: 100%;
  height: 14vh;
  margin: 0px;
  padding: 0;
}

#explore-millions {
  font-family: 'Bebas Neue', serif;
  margin-bottom: -19px;
  margin-top: 9px;
  color: var(--red);
  margin-right: 0px;
}

#game-lib {
  margin-bottom: 0px;
}

